.container {
    text-align: center;
    background-color: rgb(240, 240, 240);
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.menu-button:hover {
    background-color: #2977ac;
}