* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.full-screen-container {
    display: flex;
    justify-content: center;
    background-color: #e6e6e6;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h2 {
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.label {
    margin-right: 10px;
    width: 100px;
    user-select: none;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
    flex: 1;
    user-select: none;
}

.custom-button {
    display: inline-block;
    padding: 15px;
    width: 150px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.login-button {
    background-color: #28a745;
    transition: 0.3s;
}

.login-button:hover {
    background-color: #218838;
}

.home-button {
    background-color: #d14431;
    transition: 0.3s;
}

.home-button:hover {
    background-color: #b63a2a;
}