body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    width: 100px;
    user-select: none;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    user-select: none;
}

.custom-button {
    padding: 15px;
    width: 150px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button {
    background-color: #007bff;
}

.login-button:hover {
    background-color: #0056b3;
}

.signup-button {
    background-color: #28a745;
}

.signup-button:hover {
    background-color: #1d923b;
}