.article-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.article-table th,
.article-table td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
}

.article-table th {
  background-color: #5f5f5f;
  color: #fff;
}

.article-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.article-table tbody tr:nth-child(even) {
  background-color: #e4e4e4;
}

.article-table tbody tr:hover {
  background-color: #d4e3f5;
}

.input-field {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.save-button,
.cancel-button,
.edit-button,
.delete-button {
  padding: 8px 12px;
  cursor: pointer;
}

.save-button {
  background-color: #4caf50;
  color: white;
  transition: 0.3s;
}

.save-button:hover {
  background-color: #409443;
}

.cancel-button {
  background-color: #ccc;
  color: black;
  transition: 0.3s;
}

.cancel-button:hover {
  background-color: #9c9c9c;
}

.edit-button {
  background-color: #008CBA;
  color: white;
  transition: 0.3s;
}

.edit-button:hover {
  background-color: #00688B;
}

.delete-button {
  background-color: #f44336;
  color: white;
  transition: 0.3s;
}

.delete-button:hover {
  background-color: #c0392b;
}

.limited-height-textarea,
.limited-height-content {
  max-height: 75px;
  overflow: auto;
  resize: none;
  padding: 3px;
  border: 1px solid #ccc;
}

.invalid-email {
  border: 1px solid red;
}

.error-message {
  color: red;
  margin-top: 5px;
}